*.gao
*.rao
*.sdc
*.keep*
impl/
*.gprj
*.user
src/new.vhd
*.cst
.vscode/
src/data_memory_pack
src/data_memory_pack2
src/data_memory_pack2
src/gowin_rpll/*
src/gowin_clkdiv/*
new_file.txt
src/inst_mem.vhd
src/inst_mem_led.vhd
src/latchdeneme.vhd
data_mem_yedek.vhd
